.container{
    display: flex;
    min-height: 100dvh;
}

.sidebar{
    background-color: #f5f5f5;
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap:30px
}
.avatar{
    display: flex;
    align-items: center;
    gap:5px
}

.avatar > img {
    object-fit: cover;
    border-radius: 100%;
}

.avatar > div > span{
    font-size: 14px;
    font-weight: 600;
}
.avatar > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.badge{
    font-size: 8px;
    border: #dadada solid 1px;
    color: #dadada;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    background-color: #fff;
    width: 100%;
}

.navContainer > h2{
color:gray;
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
margin-bottom: 10px;
}

.navContainer > div {
    display: flex;
    flex-direction: column;
}

.navContainer > div > .navlink{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0px;
    align-items: center;
    color:#7e7e7e;
}
.playlistTitle{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}